// Specific CSS for your home-page

.carousel-item {
  padding: 7% 15%;
}

.home-icon {
  color: rgb(237, 114, 92)
}

.home-icon:hover {
  color: #D22B2B;;
}

#testimonials {
text-align: center;
background-color: #dd968d;
color: white;
}

.testimonials-img {
width: 10%;
border-radius: 100%;
margin: 20px;
}
