<div style='background-color: #E8CFC1; height: 100%; min-height: 100vh;'>
  <div class="container" style='padding: 100px 0; width: 50%;'>
    <div style='text-align: center; padding-bottom: 20px'>
    <h2>Welcome to <span style='font-weight: bold; color: #e86048;'> HeartDog!</span></h2>
    <h5> Add a dog to our database to help it get visibility. </h5>
    <h5> Make sure to add as many details as possible! </h5>
    </div>
    <%= render "form", dog: @dog %>
  </div>
</div>
