<div style='background-color: #E8CFC1; height: 100%; min-height: 100vh;'>
  <div class="container" style='padding: 100px 0; width: 50%;'>
    <div style='text-align: center; padding-bottom: 20px'>
    <h2>Thank you for your <span style='font-weight: bold; color: #e86048;'> message!</span></h2>
    <h5> We will get back to you ASAP.</h5>
    <%= link_to 'Back to Home', root_path, class: 'btn btn-flat' %>
    </div>
  </div>
</div>
