<div style='background-color: #E8CFC1; height: 100%'>
  <div class="container" style='padding: 2rem 0;'>
    <div  style='padding: 2rem'>
    <h2 class='text-center'>Welcome to our <span style='font-weight: bold; color: #e86048;'> Adoption Match</span>, <%= current_user.first_name.capitalize %>!</h2>
    <h5 class='text-center'>A tool designed to help you find your perfect Heart Dog.</h5>



    <%= render "dog_card", dog: @dog %>

     <section class="container row row-cols-1 row-cols-md-4 text-center justify-content-center pt-4" style='margin: 6% auto;'>
            <div class="col-lg-4 col-md-12 mt-3 mb-3">

              <i class="fas fa-check-circle home-icon" style='border: padding: 1rem; margin: 1rem; font-size: 2.5rem';></i>
              <p style='font-weight:bold;'>Refine Your Search</p>
              <p style='color: #5A5A5A'>Use the form below to tell us what you are looking for.</p>

            </div>

            <div class="col-lg-4 col-md-12 mt-3 mb-3">

              <i class="fas fa-bullseye home-icon" style='border: padding: 1rem; margin: 1rem; font-size: 2.5rem';></i>
              <p style='font-weight:bold'>Generate a Match</p>
              <p style='color: #5A5A5A'>A dog matching your criteria will appear on screen. You will have the chance to read and learn more about them. </p>

            </div>

             <div class="col-lg-4 col-md-12 mt-3 mb-3">

              <i class="fas fa-heart home-icon" style='border: padding: 1rem;margin: 1rem; font-size: 2.5rem';></i>
              <p style='font-weight:bold'>Yes or Next</p>
              <p style='color: #5A5A5A'>Is this the puppy of your dreams? Then press the 'Contact' button to ask for more information, or 'Like' the profile to save it in your account. Not a match? Back to the 'Generate' button! </p>

            </div>

            <button class='btn btn-flat'>Match Me!</button>
  </section>
    </div>
  </div>
</div>
