<div style='background-color: #E8CFC1; height: 100%'>
  <div class="container" style='padding: 2rem 0;'>
    <div  style='margin: auto'>
    <h2 class='text-center'>Welcome to our <span style='font-weight: bold; color: #e86048;'> Adoption Match</span>!</h2>
    <h5 class='text-center'>A tool designed to help you find your perfect Heart Dog.</h5>

   <!-- Button trigger modal -->
   <div class="text-center m-2 p-4">
<button type="button" class="btn btn-flat" data-bs-toggle="modal" data-bs-target="#exampleModal">
  How does it work?
</button>
<% if current_user.user_preference.nil? %>
<%= link_to 'Set my Preferences', new_user_user_preference_path(current_user), class: 'btn btn-flat' %>
<% else %>
<%= link_to 'Edit my Preferences', edit_user_user_preference_path(current_user, current_user.user_preference), class: 'btn btn-flat' %>
<% end %>



</div>

<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">How Does it Work?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
           <p style='font-weight:bold;'>What is the Adoption Match?</p>
                  <p style='color: #5A5A5A'>Adoption Match is a tool designed to help you find the perfect dog. Both organizations and potential adopters will provide their preferences. When a match is found, the dog will be shown on this page. </p>

            <p style='font-weight:bold;'>Refine Your Search</p>
                  <p style='color: #5A5A5A'>Use the "Edit my Preferences" button tell us what you are looking for.</p>

            <p style='font-weight:bold'>Yes or Next</p>
                  <p style='color: #5A5A5A'>Is this the puppy of your dreams? Then press the 'Contact' button to ask for more information, or 'Like' the profile to save it in your account. Not a match? Next! </p>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-flat" data-bs-dismiss="modal">Let's Do It!</button>
          </div>
        </div>
      </div>
    </div>
    <% if @new_dogs.empty? %>
    <%= render "empty_card" %>
    <% else %>
    <%= render "dog_card", dog: @dog %>
    <% end %>


    </div>
  </div>
</div>
