<div style='background-color: #E8CFC1; height: 100%; min-height: 100vh;'>
  <div class="container" style='padding: 100px 0; width: 50%;'>
    <div style='text-align: center; padding-bottom: 20px'>
    <h2>Update your <span style='font-weight: bold; color: #e86048;'> Preferences</span></h2>
    <h5> Select your criteria to get started. If you have no preference, select 'No Preference'. </h5>
    </div>
    <%= render "form", user_preference: @user_preference %>
  </div>
</div>
